* {
  font-family: "DM Mono", monospace;

  ::selection {
    background: #fff;
    color: #000;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: "DM Mono", monospace;
}
